### Git Ignore File for VSCode and Visual Studio###
.vscode/*
.vs/*

# Local History for VSCode
.history/

# Any files in the bin and obj directories including the directories
**/bin/*
**/obj/*

### VSCode Patch ###
.history
.ionide